body { 
    background-color: rgb(255, 255, 255);
    background-image: url(https://static.wikia.nocookie.net/breakingbad/images/d/d6/RV.jpg/revision/latest?cb=20130724193305);
    background-size: cover;
}
p {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
h1 {
    font-size: 30px;
    text-align: center;
}
    h2 {
  font-size: 30px;
  text-align: center;
  color: white;
}
    
section {
  margin: 15px;
  border: 5px solid black;
  width: 400px;
  padding: 20px; 
  }
.cudlik {
  background-color: green;
  border-radius: 10px;
}
table {
  font-size: large;
}
th, td {
  border: 1px solid white;
  padding: 14px 30px;
  background-color: #ffffff;
  text-align: center;
  border-color: #000000
}